on:
  push:
    branches:
      - main
    tags:
      - signer-v*

permissions:
  contents: write

jobs:
  ci-and-release-on-tag:
    name: Build (and release if tag was pushed)
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: "signer"
    steps:
      - uses: actions/checkout@v3
      - name: "Build and test"
        run: |
          npm install
          npm run build-service-worker

          # not published, but build nevertheless
          npx wrangler publish --dry-run --outdir dest/es6

      - uses: awalsh128/cache-apt-pkgs-action@latest
        if: startsWith(github.ref, 'refs/tags/signer-v')
        with:
          packages: jq
          version: 1.0
      - name: "Check tag version match"
        if: startsWith(github.ref, 'refs/tags/signer-v')
        run: |
          tag_version=$(echo "$REF" | sed "s%refs/tags/signer-v%%")
          declared_version=$(jq .version package.json --raw-output)
          if [ "$tag_version" != "$declared_version" ]; then
            exit 1
          fi
        env:
          REF: ${{ github.ref }}
      - name: Convert .wasm to .base64-wasm.txt
        run: |
          cat internal-crypto-wasm/pkg/signer_internal_crypto_bg.wasm \
            | base64 --wrap 0
            > dest/service-worker/signer_internal_crypto_bg.wasm-base64.txt
      - name: Release
        if: startsWith(github.ref, 'refs/tags/signer-v')
        uses: softprops/action-gh-release@v1
        with:
          files: |
            signer/dest/service-worker/index.service.js
            signer/dest/service-worker/signer_internal_crypto_bg.wasm
            signer/dest/service-worker/signer_internal_crypto_bg.wasm-base64.txt
